/* General Styling */
* {
  font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
  font-weight: 700;
  font-size: 15px;
}

/* Waybar Window */
window#waybar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-bottom: 2px solid white;
  transition: background-color 0.5s ease-in-out;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* Blinking Animation */
@keyframes blink {
  to {
    color: #ffffff;
  }
}

/* Workspaces */
#workspaces button {
  padding: 0px 1px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

#workspaces button:hover {
  color: #ffcc47;
}

#workspaces button.active {
  color: #ffcc47;
}

#workspaces button.urgent {
  color: #f53c3c;
  animation: blink 0.5s steps(12) infinite alternate;
}

/* Module Padding */
#clock,
#window,
#workspaces,
#idle_inhibitor,
#power-profiles-daemon,
#backlight,
#pulseaudio {
  padding: 2px 6px;
}

#tray,
#custom-power {
  padding: 2px 2px;
}

/* Transparent Window Module */
window#waybar.empty #window {
  background-color: transparent;
  border: none;
}

/* Leftmost and Rightmost Module Margins */
.modules-left>widget:first-child>#workspaces {
  margin-left: 5px;
}

.modules-right>widget:last-child>#custom-power {
  margin-right: 10px;
}

/* Battery Styling */
#battery {
  transition: color 0.3s ease-in-out;
}

#battery.charging,
#battery.plugged {
  color: #2ecc71;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation: blink 0.5s steps(12) infinite alternate;
}

/* Power Profiles */
#power-profiles-daemon.performance {
  color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #49aef5;
}

#power-profiles-daemon.power-saver {
  color: #2ecc71;
}

/* Audio Muted */
#pulseaudio.muted {
  color: #f53c3c;
}

/* Tray Icons */
#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

/* Focus Styling */
label:focus {
  background-color: #000000;
}
